2104.03632.pdf
CMakeLists.txt
ising
/.idea
/.vscode
/build
/cmake-build-debug
/Rapport/main.aux
/Rapport/main.fdb_latexmk
/Rapport/main.fls
/Rapport/main.log
/Rapport/main.synctex.gz
/Rapport/main.toc
Rapport/main.fls
